@charset "UTF-8";
/*  цвет основного текста #757575
    вторичный цвет (заголовки) #212121
    цвет акцента #2196f3 */
:root {
  --card-set-gap: 30px;
  --logo-primary-color: #000000;
  --logo-inverse-color: #ffffff;
  --text-primary-color: #757575;
  --icon-main-color: #afb1b8;
  --title-color: #212121;
  --hero-text-color: #ffffff;
  --accent-color: #2196f3;
  --bg-primary-color: #ffffff;
  --bg-secondary-color: #f5f4fa;
  --bg-footer-color: #2f303a;
  --btn-bg-color: #f5f4fa;
  --btn-text-color: #212121;
  --btn-second-text-color: #ffffff;
  --addr-secondary-color: rgba(255,
          255,
          255,
          0.6);
  --cubic: 0.4, 0, 0.2, 1;
}

.visually-hidden {
  position: absolute;
  width: 0px;
  height: 0px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
}

.footer__container, .portfolio__container, .clients__container, .team__container, .works__container, .features__container, .hero__container, .header__container {
  margin: 0 auto;
  width: 1200px;
  padding: 0px 15px;
}

.address__list, .fltr-list, .clients__list, .team__list, .works__list, .features__list, .contacts__item, .nav__list, .grid, .social {
  padding: 0;
  margin: 0;
  list-style: none;
}

.address__link, .contacts__link, .nav__link, .logo__link, .social__link {
  text-decoration: none;
  color: inherit;
}

.clients__title, .team__title, .works__title {
  color: var(--title-color);
  font-size: 36px;
  text-align: center;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

.hero__container, .contacts, .nav__list, .header__container {
  display: flex;
  align-items: center;
}

.fltr-list__btn, .hero__btn, .subscribe__btn {
  display: block;
  text-align: center;
  font-family: inherit;
  color: var(--btn-text-color);
  background-color: var(--btn-bg-color);
  border: 0px;
  border-radius: 4px;
  cursor: pointer;
  transition: color 250ms cubic-bezier(var(--cubic)), background-color 250ms cubic-bezier(var(--cubic)), box-shadow 250ms cubic-bezier(var(--cubic));
}
.fltr-list__btn:hover, .hero__btn:hover, .subscribe__btn:hover, .fltr-list__btn:focus, .hero__btn:focus, .subscribe__btn:focus {
  color: var(--hero-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

body {
  background-color: var(--bg-primary-color);
  color: var(--text-primary-color);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.btn-close {
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: normal;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.btn-close__icon {
  fill: currentColor;
  transition: fill 250ms cubic-bezier(var(--cubic));
}

.subscribe__btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  height: 50px;
  width: 200px;
  padding: 10px 28px;
  color: var(--bg-primary-color);
  fill: currentColor;
  background-color: var(--accent-color);
}

.subscribe__icon {
  margin-left: 10px;
}

.social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 206px;
}

.social__item {
  width: 44px;
  height: 44px;
}

.social__link {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: normal;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  color: var(--icon-main-color);
  transition: color 250ms cubic-bezier(var(--cubic)), background-color 250ms cubic-bezier(var(--cubic));
}
.social__link:hover, .social__link:focus {
  background-color: var(--accent-color);
  color: var(--bg-primary-color);
}

.social__icon {
  fill: currentColor;
}

.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: normal;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.backdrop {
  position: fixed;
  opacity: 1;
  z-index: 2;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(var(--cubic)), visibility 250ms cubic-bezier(var(--cubic));
}
.backdrop--is-hidden {
  opacity: 0;
  visibility: collapse;
  pointer-events: none;
  transform: translate(-50%, -50%) scale(0.5);
}

.form {
  width: 100%;
}

.form__label {
  margin-bottom: 4px;
}

.form__wrap {
  position: relative;
  margin-bottom: 10px;
  display: block;
  color: var(--btn-text-color);
}

.form__icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
}

.form__input {
  height: 40px;
  width: 100%;
  fill: currentColor;
  padding: 12px 16px 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(var(--cubic)), outline-color 250ms cubic-bezier(var(--cubic));
}
.form__input:focus {
  border-color: var(--accent-color);
  outline-color: var(--accent-color);
}
.form__input:focus + .form__icon {
  color: var(--accent-color);
}

.form__icon {
  transition: color 250ms cubic-bezier(var(--cubic));
  fill: currentColor;
}

.form__comment {
  height: 120px;
  resize: none;
  padding-left: 12px;
  margin-bottom: 20px;
}
.form__comment::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.form__comment:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.form__comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form__policy {
  margin-bottom: 40px;
}

.form__policy-label {
  position: relative;
  display: flex;
  justify-content: space-evenly;
}

.form__policy-chkbox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: normal;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 15px;
  border: 2px solid var(--btn-text-color);
}

.form__policy-icon {
  fill: transparent;
}

.form__policy-input:checked + label > span {
  border: none;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.form__policy-input:checked + label > span > svg {
  fill: var(--bg-primary-color);
}

.form__policy-link {
  color: var(--accent-color);
}

.subscribe__btn--center {
  margin-left: auto;
  margin-right: auto;
}

.header {
  height: 80px;
  z-index: 3;
  background-color: var(--bg-primary-color);
  border-bottom: 1px solid #ececec;
}

.header__container {
  height: 100%;
}

.header__logo {
  margin-right: 93px;
}

.header__contacts {
  margin-left: auto;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: em;
  color: var(--logo-primary-color);
}
.logo--accent {
  color: var(--accent-color);
}
.logo--inverse {
  color: var(--logo-inverse-color);
}

.nav__list {
  gap: 50px;
}

.nav__link {
  font-size: px;
  font-weight: 500;
  letter-spacing: 0.02em;
  height: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-color);
  transition: color 250ms cubic-bezier(var(--cubic));
}
.nav__link:hover, .nav__link:focus {
  color: var(--accent-color);
}

.nav__link--active {
  display: flex;
  flex-direction: column;
  padding-bottom: 0px;
  color: var(--accent-color);
}
.nav__link--active::after {
  content: "";
  flex-grow: 1;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.site-nav__nav::after {
  margin-top: 28px;
}

.contacts {
  font-weight: 500;
  gap: 50px;
}

.contacts__item {
  color: inherit;
  transition: color 250ms cubic-bezier(var(--cubic));
}
.contacts__item:hover, .contacts__item:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.contacts__icon {
  fill: currentColor;
  margin-right: 10px;
}

.hero {
  max-width: 1600px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header-bgd-image.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--bg-footer-color);
  margin-left: auto;
  margin-right: auto;
}

.hero__container {
  flex-direction: column;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero__title {
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  margin-bottom: 30px;
  max-width: 696px;
  color: var(--hero-text-color);
  text-transform: uppercase;
}

.hero__btn {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  padding: 10px 32px 10px 32px;
  color: var(--hero-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.features {
  padding-top: 94px;
  padding-bottom: 94px;
}

.features__list {
  display: flex;
  justify-content: space-between;
}

.features__item {
  max-width: 270px;
}

.features__icon {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: normal;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  min-width: 270px;
  min-height: 120px;
  background: var(--bg-secondary-color);
  border-radius: 4px;
}

.features__subtitle {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: em;
  display: block;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: var(--title-color);
}

.features__text {
  font-size: px;
  line-height: 1.71;
  letter-spacing: em;
}

.works {
  padding-bottom: 94px;
}

.works__title {
  margin-bottom: 50px;
}

.works__list {
  display: flex;
  justify-content: space-between;
}

.works__item {
  position: relative;
}

.works__label {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 70px;
  bottom: 0;
  text-transform: uppercase;
  text-align: center;
  color: var(--bg-primary-color);
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: var(--bg-secondary-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.team__title {
  margin-bottom: 50px;
}

.team__list {
  display: flex;
  justify-content: space-between;
}

.team__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
}

.team__descr {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;
}

.team__name {
  font-size: px;
  font-weight: 500;
  letter-spacing: em;
  margin-bottom: 10px;
  text-align: center;
  color: var(--title-color);
}

.team__job-title {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: em;
  text-align: center;
  margin-bottom: 10px;
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients__title {
  margin-bottom: 50px;
}

.clients__list {
  display: flex;
  justify-content: space-evenly;
}

.clients__link {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: normal;
  align-items: center;
  justify-content: center;
  min-width: 170px;
  min-height: 92px;
  border: 1px solid;
  border-color: var(--icon-main-color);
  border-radius: 4px;
  height: 100%;
  width: 100%;
  color: var(--icon-main-color);
  transition: color 250ms cubic-bezier(var(--cubic)), border-color 250ms cubic-bezier(var(--cubic));
}
.clients__link:hover {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.clients__logo {
  fill: currentColor;
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.fltr-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: normal;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  gap: 8px;
}

.fltr-list__btn {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: em;
  padding: 6px 22px;
}
.fltr-list__btn--active {
  padding: 6px 22px;
  color: var(--btn-second-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  transition: none;
}

.product {
  cursor: pointer;
  transition: box-shadow 250ms cubic-bezier(var(--cubic));
}
.product:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.product:hover .product__overlay {
  transform: translatey(0%);
}

.product__thumb {
  position: relative;
  overflow: hidden;
}

.product__overlay {
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: em;
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--bg-primary-color);
  padding: 63px 24px;
  transform: translatey(101%);
  transition: transform 250ms cubic-bezier(var(--cubic));
}

.product__footer {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}

.product__name {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
  margin-bottom: 4px;
}

.product__descr {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: em;
}

.footer {
  background-color: var(--bg-footer-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container {
  display: flex;
  justify-content: space-between;
}

.address__list {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.address__item {
  text-align: left;
  font-style: normal;
  color: var(--logo-secondaty-color);
  line-height: 1.71;
  transition: color 250ms cubic-bezier(var(--cubic));
}
.address__item:not(:last-child) {
  margin-bottom: 9px;
}
.address__item:hover, .address__item:focus {
  color: var(--accent-color);
}

.address__link {
  color: var(--addr-secondary-color);
}

.address__link--white {
  color: white;
}

.joinup__title {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: em;
  text-align: left;
  color: var(--logo-inverse-color);
  text-transform: uppercase;
  margin-top: 12px;
  margin-bottom: 20px;
}

.joinup__link {
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--logo-inverse-color);
}

.subscribe__label {
  display: flex;
  flex-direction: column;
  justify-content: left;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: em;
  margin-top: 12px;
  margin-bottom: 20px;
  color: var(--logo-inverse-color);
  text-transform: uppercase;
}

.subscribe__email {
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: em;
  width: 358px;
  height: 50px;
  padding: 15px;
  margin-right: 12px;
  color: var(--bg-primary-color);
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}

.modal {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: normal;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 528px;
  height: 581px;
  padding: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: var(--bg-primary-color);
  transition: transform 250ms cubic-bezier(var(--cubic));
}
.modal:focus-within .btn-close__icon {
  fill: var(--accent-color);
}

.modal__header {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: em;
  margin-bottom: 12px;
  color: var(--btn-text-color);
  text-align: center;
}/*# sourceMappingURL=main.css.map */