.portf-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--card-set-gap));
    margin-left: calc(-1 * var(--card-set-gap));
}

.portf-list>.portf-item {
    flex-basis: calc(100% / 3 - var(--card-set-gap));
    margin-top: var(--card-set-gap);
    margin-left: var(--card-set-gap);
    transition: box-shadow 250ms cubic-bezier(var(--cubic));
}

.portf-list>.portf-item:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.portf-thumb {
    position: relative;
    overflow: hidden;
}

.portf-thumb .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    background-color: rgba(33, 150, 243, 0.9);
    color: var(--bg-primary-color);
    font-size: 18px;
    line-height: 1.55;
    padding: 63px 24px;
    transform: translatey(101%);
    transition: transform 250ms cubic-bezier(var(--cubic));
}

.portf-item:hover .overlay {
    transform: translatey(0%);
}

.portf-item-descr {
    padding: 20px 24px;
    border: 1px solid #eeeeee;
}

.portf-item.subtitle {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
}

.portf-item.text {
    font-size: 16px;
    line-height: 1.88;
}