.contacts {
   display: flex;
    font-weight: 500;
    gap: 50px;
}
.contacts__item {

    @extend %list;
    color: inherit;
    transition: color 250ms cubic-bezier(var(--cubic));
    &:hover,
    &:focus {
        color: var(--accent-color);
        fill: var(--accent-color);
    }
}
.contacts__link {
        @extend %link;
    @extend %flex-align-center;

}
.contacts__icon {
    fill: currentColor;
    margin-right: 10px;
}

