.features {
    padding-top: 94px;
    padding-bottom: 94px;
    }
.features__container {
    @extend %container;
}    
.features__list {
    @extend %list;
    @include flex(flex, null, null, null, null, space-between);
    }
.features__item {
    max-width: 270px;
    }
.features__icon {
    @include flex();
    margin-bottom: 30px;
    min-width: 270px;
    min-height: 120px;
    background: var(--bg-secondary-color);
    border-radius: 4px;
    }
.features__subtitle {
    @include font(14, 700, null, null);
    display: block;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: var(--title-color);
    }
.features__text {
        @include font(null, null, 1.71, null);
    }

