.header {
  border-bottom: 1px solid #ececec;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  z-index: 3;
  background-color: var(--bg-primary-color);
  &__container {
      display: flex;
      height: 100%;
      align-items: center;
    }
}
.header__logo {
      margin-right: 93px;
}





