.hero {
    max-width: 1600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                url(../images/header-bgd-image.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: var(--bg-footer-color);
    margin-left: auto;
    margin-right: auto;
}
.hero__container {
    @extend %container;
    @extend %flex-align-center;
    flex-direction: column;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    }
.hero__title {
    @include font(44, 900, 1.36, 0.06);
    margin-bottom: 30px;
    max-width: 696px;
    color: var(--hero-text-color);
    text-transform: uppercase;
    }
.hero__btn {
    @include font(16, 700, 1.87, 0.06);
    @extend %btn;
    padding: 10px 32px 10px 32px;
    color: var(--hero-text-color);
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}




