.logo {
    font-family: 'Raleway', sans-serif;
    @include font(26, 700, 1.19, null);
    color: var(--logo-primary-color);
    &--accent {
        color: var(--accent-color);
    }
    &--inverse {
      color: var(--logo-inverse-color);
    }
}
.logo__link {
@extend %link;
}