.nav__list {
    @extend %list;
    @extend %flex-align-center;
    gap: 50px;
}
.nav__link {
    @extend %link;
     @include font(null, 500, null, 0.02);
        height: 100%;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--title-color);
    transition: color 250ms cubic-bezier(var(--cubic));
    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}
.nav__link--active {
    display: flex;
    flex-direction: column;
    padding-bottom: 0px;
    color: var(--accent-color);
    &::after {
        content: '';
        flex-grow: 1;
        width: 100%;
        height: 4px;
        background-color: var(--accent-color);
        border-radius: 2px;
    }
}
.site-nav__nav::after {
margin-top: 28px;
}